/*=========================================
  ESTILOS GENERALES
=========================================*/
* {
    box-sizing: border-box;
}
/* ========================================= */
/* BODY                                      */
/* ========================================= */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000e3;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la ventana */
    display: flex;
    flex-direction: column;
}

/* ========================================= */
/* HEADER                                    */
/* ========================================= */
header {
    background-color: rgb(221, 228, 233);
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 1rem 2rem;
}

ul.barra-navegacion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

ul.barra-navegacion li {
    margin: 0 10px;
}

ul.barra-navegacion a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul.barra-navegacion a:hover {
    background-color: #9badd4;
    color: white;
}


main {
    flex: 1; /* Hace que el contenido principal crezca para empujar el footer hacia abajo */
}

/* Imagen del logo: ajustes de tamaño y estilo */
.logo img {
    max-width: 100px; /* Limita el tamaño máximo del logo */
    height: auto; /* Mantiene la proporción original del logo */
    border-radius: 50%; /* Hace que el logo sea redondo */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}
.logo {
    display: flex;
    align-items: center;
}

  .nav-input{
    display: none;
  }

/* ========================================= */
/* FOOTER                                    */
/* ========================================= */
footer {
    background-color: #333333b0; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    text-align: center; /* Texto centrado */
    padding: 20px; /* Espaciado interno */
    font-size: 0.9em; /* Tamaño de texto pequeño */
}
/* Enlaces dentro del pie de página */
footer a { 
    color: #ddd; /* Color de texto */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Efecto hover en los enlaces del pie de página */
footer a:hover {
    color: #475cbd; /* Cambia el color a blanco cuando el cursor pasa por encima */
}
/*=========================================*/
/* Estilo para el encabezado de la portada */
/*=========================================*/

.nosotros {
    background-image: url("../imagenes/fondo-negro.png");
    color: white;
    font-size: 28px;
    padding: 67px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 2px;
    
}

/* ========================================= */
/* Formulario                                */
/* ========================================= */
form {
    background-image: url("../imagenes/fondo-negro.png");
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}


label {
    font-size: 1.1em;
    margin-bottom: 0px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 23px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
}

button {
    background-color: #3182ce;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    padding: 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 15px;
}

button:hover {
    background-color: #2b6cb0;
}

/* Botón de mostrar contraseña */
.password-wrapper {
    position: relative;
    display: flex;
    gap: 10px;
}

.eye-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-72%);
    background: none;
    border: none;
    font-size: 1.15em;
    cursor: pointer;
}

/* Filas del formulario */
.form-row {
    display: flex;
    flex-direction: column; /* Cambio para apilar los campos de formulario verticalmente */
    gap: 15px; /* Espaciado vertical entre los campos */
}

.form-row label {
    flex: 1;
}

.form-row input,
.form-row select {
    flex: 2;
}

/* Checkbox */
input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 10px;
}

/* Políticas de privacidad */
.politicas-enlace {
    color: #3182ce;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.politicas-enlace:hover {
    color: #2b6cb0;
    text-decoration: underline;
}

/* ========================================= */
/* Estilo del enlace "Inicia sesión"         */
/* ========================================= */
.inicia-sesion {
    text-align: center;
    margin-top: 15px;
    font-size: 1em;
    color: #ffffff;
}

.inicia-sesion a {
    color: #3182ce;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.inicia-sesion a:hover {
    color: #2b6cb0;
    text-decoration: underline;
}


/* ========================================= */
/* MEDIA QUERIES                             */
/* ========================================= */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 669px) {
    header{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9rem;
        --icon-toggle-menu: url("../imagenes/menu.jpg");
        --transform-menu-show: translate(-100%);
       flex-direction: row;
       
    }
    header:has(.nav-input:checked){
        --icon-toggle-menu: url("../imagenes/menuCerrar.jpg");
        --transform-menu-show: translate(0%);
       }
       
    .logo, .nav-toggle{
        z-index: 10;
    }
  .logo, img{
    height: 10rem;
    width: 10rem;
    margin-right: 10rem;
  }
     .nav-toggle{
        
        right: 10px;
        position: absolute;
        
        width: 30px;
        height: 30px;
        background-image: var(--icon-toggle-menu);
        background-size: cover;
        
        transition: background-image .5s;
        
    }
    .nav-input{
        width: 40px;
        height: 40px;
        display: none;
    }
    
  
       
   .barra-navegacion{
    transform: var(--transform-menu-show);
    list-style: none;
    color: black;
    
    display: grid !important;
    
    position: fixed;
    place-content: center;
    gap: 2rem;
    text-align: center;
    background-color: white;
    inset: 0;
    padding: 0 5% ;
    
    transition: .5s transform ;
   
   }

   .banner{
    background-repeat: no-repeat;
    background-size: 100% 65%;

   }
   .banner h2{
    font-size: 1.2rem;
   }
   .eslogan{
    font-size: 1.2rem;
    padding: 0.5px 0.5px;
   }
   .breve-introduccion{
    margin-top: -10rem;
   }
   #productos{
    flex-direction: column;
    align-items: center;
    
   }
   .categoria-mujer,
   .categoria-hombre {
       width: 100%; /* Ocupan todo el ancho del contenedor */
       height: 20rem;
       margin-bottom: 20px; /* Añade separación entre las categorías */

   }
   .categoria-mujer {
    font-size: 0.9rem;
   }
   .categoria-hombre{
    font-size: 0.9rem;
   }
   .boton{
    transform: translate(-10%, +450%);
   }
   h3{
    font-size: 1rem;
   }
   .titulo-pagina-mujer{
    font-size: 3rem;
   }
   .imagen-producto{
    height: 9rem;
    margin-left: 3.2rem;
   }
}



/* Para pantallas medianas (tablets) */

@media (min-width: 670px) and (max-width: 1024px) {
   
   
   header h1{
    
    font-size: 2rem;
   }
   .barra-navegacion{
    font-size: 0.9rem;
    width: 100%;
    
   }
  .nav-toggle{
    display: none;
  }
   .banner{
    width: 90%;
    height: 35rem;
   padding: -20px;
    border-radius: 10px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    margin-right: 0;
   
   }
    .banner h2{
        font-size: 2rem;
    }
   .categoria-mujer, .categoria-hombre{
    height: 390px;
    
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);;
   }
    .boton{
    transform: translate(-10%, +350% ); /* Posicionamiento específico */
    
}
.imagen-producto{
    height: 10rem;
    margin-top: 1rem;
}
.etiqueta-oferta{
    transform: translate(100%, -700%);
   
}
