/*=========================================
  ESTILOS GENERALES
=========================================*/
* {
    box-sizing: border-box;
}
/* ========================================= */
/* BODY                                      */
/* ========================================= */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000e3;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la ventana */
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Evita desbordamientos horizontales */
    width: 100%;
}

/* ========================================= */
/* HEADER                                    */
/* ========================================= */
header {
    background-color: rgb(221, 228, 233);
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 1rem 2rem;
}

ul.barra-navegacion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

ul.barra-navegacion li {
    margin: 0 10px;
}

ul.barra-navegacion a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul.barra-navegacion a:hover {
    background-color: #9badd4;
    color: white;
}


main {
    flex: 1; /* Hace que el contenido principal crezca para empujar el footer hacia abajo */
}

/* Imagen del logo: ajustes de tamaño y estilo */
.logo img {
    max-width: 100px; /* Limita el tamaño máximo del logo */
    height: auto; /* Mantiene la proporción original del logo */
    border-radius: 50%; /* Hace que el logo sea redondo */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}
.logo {
    display: flex;
    align-items: center;
}

  .nav-input{
    display: none;
  }

/* ========================================= */
/* FOOTER                                    */
/* ========================================= */
footer {
    background-color: #333333b0; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    text-align: center; /* Texto centrado */
    padding: 20px; /* Espaciado interno */
    font-size: 0.9em; /* Tamaño de texto pequeño */
}
/* Enlaces dentro del pie de página */
footer a { 
    color: #ddd; /* Color de texto */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Efecto hover en los enlaces del pie de página */
footer a:hover {
    color: #475cbd; /* Cambia el color a blanco cuando el cursor pasa por encima */
}

/*========================================*/
/* SOBRE NOSOTROS                         */
/*========================================*/
.sobre-nosotros {
    
    border-radius: 8px;
    margin-bottom: 30px;
}

.sobre-nosotros h2 {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
}

.sobre-nosotros p {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 70%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: center;
    
    
    color: #b6b6b6;
    
}

/* Estilo para el encabezado de la portada */
.nosotros {
    background-image: url("../imagenes/fondo-negro.png");
    color: white;
    padding: 60px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 2px;
    width: 100%;
}

.nosotros h1 {
    font-size: 36px;
    font-weight: bold;
}


/*=========================*/
/*FORMULARIO               */
/*=========================*/

form {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 15px;
}
fieldset {
    background-image: url("../imagenes/fondo-negro.png");
    border: 1px solid #d1d9e6;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 45px;
    width: 35%;
}

legend {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: -40px;
}

label {
    display: block;
    margin-bottom: 3px;
    color: #ffffff;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: -10px;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    font-size: 1em;
    background-color: #f7fafc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    
}

textarea {
    height: 80px;
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3182ce;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2b6cb0;
}

/* Estilo para las opciones de selección */
input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    font-weight: normal;
}

/* Espaciado entre secciones */
fieldset > label {
    margin-top: 10px;
}

/* ========================================= */
/* MEDIA QUERIES                             */
/* ========================================= */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 669px) {
    header{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9rem;
        --icon-toggle-menu: url("../imagenes/menu.jpg");
        --transform-menu-show: translate(-100%);
       flex-direction: row;
    }

    }
    header:has(.nav-input:checked){
        --icon-toggle-menu: url("../imagenes/menuCerrar.jpg");
        --transform-menu-show: translate(0%);
       }
       
    .logo, .nav-toggle{
        z-index: 10;
    }
  .logo, img{
    height: 10rem;
    width: 10rem;
    margin-right: 10rem;
  }
     .nav-toggle{
        
        right: 10px;
        position: absolute;
        
        width: 30px;
        height: 30px;
        background-image: var(--icon-toggle-menu);
        background-size: cover;
        
        transition: background-image .5s;
        
    }
    .nav-input{
        width: 40px;
        height: 40px;
        display: none;
    }
    
  
       
   .barra-navegacion{
    transform: var(--transform-menu-show);
    list-style: none;
    color: black;
    
    display: grid !important;
    
    position: fixed;
    place-content: center;
    gap: 2rem;
    text-align: center;
    background-color: white;
    inset: 0;
    padding: 0 5% ;
    
    transition: .5s transform ;
   
   }

   .banner{
    background-repeat: no-repeat;
    background-size: 100% 65%;

   }
   .banner h2{
    font-size: 1.2rem;
   }
   .eslogan{
    font-size: 1.2rem;
    padding: 0.5px 0.5px;
   }
   .breve-introduccion{
    margin-top: -10rem;
   }
   
}



/* Para pantallas medianas (tablets) */

@media (min-width: 670px) and (max-width: 1024px) {
   header{
    width: 100%;
    display: grid !important;
   }
}
   header h1{
    
    font-size: 2rem;
   }
   .barra-navegacion{
    font-size: 0.9rem;
    width: 100%;
    
   }
  .nav-toggle{
    display: none;
  }
   .banner{
    width: 90%;
    height: 35rem;
    padding: -20px;
    border-radius: 10px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    margin-right: 0;
   
   }
    .banner h2{
        font-size: 2rem;
    }
   .categoria-mujer, .categoria-hombre{
    height: 390px;
    
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);;
   }
   .nosotros{
    width: 100%;
   }
.etiqueta-oferta{
    transform: translate(100%, -700%);
   
}

.sobre-nosotros{
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}
}
